[submodule "external/Suwayomi-Server"]
	path = external/Suwayomi-Server
	url = https://github.com/KolbyML/Suwayomi-Server.git
[submodule "external/Suwayomi-WebUI"]
	path = external/Suwayomi-WebUI
	url = https://github.com/KolbyML/Suwayomi-WebUI.git
[submodule "external/Mangatan"]
	path = external/Mangatan
	url = https://github.com/exn251/Mangatan.git
